<% layout("layout") -%>
      <canvas id=c></canvas>
      <canvas id=bg></canvas>
      <div class="loginError">

      </div>
      <div class="homeContent container-fluid">
            <div class="row">
                  <div class=" col-md-5">
                        <div class="type-js headline">
                              <h1 class="text-js">Hi!</h1>
                        </div>
                        <br>
                        <div class="type-js1 headline">
                              <h1 class="text-js ">I'm Edgar,</h1>
                        </div>
                        <br>
                        <div class="type-js2 headline">
                              <h1 class="text-js ">Web developer.</h1>
                        </div>
                        <br>
                        <div class="type-js3 headline">
                              <h4 class="text-js ">Front-end / Back-end developer</h4>
                        </div>
                        <br>
                  </div>
            </div>
      </div>