<% layout("layout") -%>

<div class="skillsBg">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="/img/photoshop.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/html.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/css.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/sass.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/b.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/js.png" alt="pic">
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="/img/jq.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/mongodb.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/mysql.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/postgre.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/nodejs.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/sequelize.png" alt="pic">
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="/img/passport.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/mocha.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/jade.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/jasmine.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/ejs.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/experss.png" alt="pic">
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="/img/chai.png" alt="pic">
                <span></span>
            </div>
            <div class="col-md-2">
                <img src="/img/git.png" alt="pic">
                <span></span>
            </div>
           
        </div>

    </div>
</div>